google-search-results==2.4.2
numpy==1.26.2
openai==1.30.1
wolframalpha==5.0.0
tiktoken==0.6.0
multiprocess==0.70.15
tenacity==8.2.3
jupyter==1.0.0
docx2txt==0.8
imageio==2.33.1
termcolor==2.4.0
langchain==0.2.1
supabase==2.5.1
llmsherpa==0.1.4
pypdf==4.0.1
langchain-text-splitters==0.2.0
PyPDF2==3.0.1
PyCryptodome==3.20.0
nltk==3.8.1
pdfminer.six==20231228
youtube-transcript-api==0.6.2
pytube==15.0.0
pymed==0.8.9
arxiv==2.1.0
chardet==5.2.0
mobi==0.3.3
aiofiles==23.2.1
pinecone-client==4.1.0
boto3==1.34.106
awscli==1.32.106
anthropic==0.26.0
Flask==3.0.3
gevent==24.2.1
flask_cors==4.0.1
flask_socketio==5.3.6
gunicorn==22.0.0
python-dotenv==1.0.1
gevent-websocket==0.10.1
vecs==0.4.3
crossrefapi==1.6.0
redis==5.0.7
rq==1.16.2
pypatent==1.2.0
# rq-dashboard==0.7.1.2
chromadb==0.5.4